* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/**start fontface**/

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: 700;
  src: url("../fonts/mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: 400;
  src: url("../fonts/mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: 300;
  src: url("../fonts/mulish/Mulish-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-weight: 500;
  src: url("../fonts/mulish/Mulish-Medium.ttf") format("truetype");
}

/**finish fonface**/

body {
  background-color: #fcfcfb;
  font-family: "Mulish", sans-serif;
  color: #14243c;
  font-weight: 300;
  line-height: 1.7;
  font-size: 18px;
}

img {
  width: 100%;
  margin: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  color: #14243c;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #14243c;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  color: #14243c;
}

a {
  color: #3c516f;
  text-decoration: underline;
}

a:hover {
  color: #b0c0d6;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #b0c0d6;
  text-decoration: underline;
}

/* Layout universal styling */
.container {
  max-width: 800px;
  padding: 15px 15px;
  margin: auto;
}

.lila-bg {
  background-color: #d8d2fd;
}

.logo {
  max-width: 50px;
  float: left;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fcfcfb;
  -webkit-box-shadow: -1px -1px 10px 0px rgba(33, 33, 33, 0.46);
  -moz-box-shadow: -1px -1px 10px 0px rgba(33, 33, 33, 0.46);
  box-shadow: -1px -1px 10px 0px rgba(33, 33, 33, 0.46);
  z-index: 4;
}

main {
  padding-top: 50px;
} /**not sure what this is for, I' like to erase the white space 
between the hero section and the nav bar**/

nav {
  display: inline;
  float: right;
  margin-top: 10px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  color: #b0c0d6;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #b0c0d6;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 20px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(245, 245, 245);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.caption {
  font-size: 14px;
}

.dark-blue {
  color: #14243c;
}
.light-text {
  color: #fcfcfb;
}
.blue-text {
  color: #5B5BF9;
}
.lila-bg {
  background-color: #edeaff;
}
.grey-bg {
  background-color: #f6f6f6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  display: inline-block;
  background-color: #14243c;
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.85em;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  transition: 0.4s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.highlighted-text {
  display: inline;
  background-image: linear-gradient(transparent 60%, #d8d2fd 60%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.row {
  width: 100%;
  margin-bottom: 25px;
}

footer svg {
  fill: #ffffff;
}

.margin {
  margin-top: 15px;
}

/** styling index.html **/

/** hero section **/

.img-glo {
  width: 100px;
  height: 100px;
}

#hero {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
}

/** work section **/

#work .row {
  padding-bottom: 15px;
}

/** footer section **/

#contact {
  background-color: #14243c;
  color: #fcfcfb;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.socials a {
  text-decoration: none;
}

.socials a:hover {
  text-decoration: none;
}

.socials a:active {
  text-decoration: none;
}

/** styling about.html **/

.img-about {
  max-width: 100%;
}

#glo-flip {
  float: left;
}

#about .grey-bg {
  padding-top: 25px;
  padding-bottom: 25px;
}

/** styling frida.html **/

#head {
  margin: auto;
  padding: 15px 0px 15px 0px;
  background-color: #edeaff;
}

.padding-top {
  padding-top: 20%;
}

.border {
  border-left: solid;
  border-width: 3px;
  border-color: #14243c;
  padding-left: 25px;
  max-width: 90%;
  display: block;
}

.border span {
  display: block;
}

span {
  display: block;
}

.wrapper-img {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

#interview h3 {
  padding-left: 25px;
}

#interview {
  border-radius: 8px;
  background-color: #f6f6f6;
  padding: 15px 10px;
}

.round-corner {
  border-radius: 10px;
}

.centered-element {
  margin-top: 12%;
}

#caseStudyNav {
  position: fix;
  top: 200px;
  display: none;
}

/*Media queries*/

@media only screen and (min-width: 640px) {
  [class*="col-"] {
    float: left;
    padding: 15px 15px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6 {
    width: 50%;
    padding-right: 15px;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 20px;
  }

  .col-md-4 {
    width: 33.33%;
    padding: 0 10 0 0;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 57.33%;
    padding: 0 4% 0 0;
  }

  .col-md-8 {
    width: 70%;
    padding: 0 20px;
  }

  .col-md-10 {
    width: 77%;
    margin-left: 20px;
  }

  .wrapper-img {
    width: 70%;
    margin: 0 auto;
  }

  .img-about {
    max-width: 80%;
    float: left;
  }
}

@media only screen and (min-width: 1024px) {
  .img-glo {
    width: 150px;
    height: 170px;
    padding-top: 20%;
  }

  .container2 {
    max-width: 1000px;
    padding: 15px 15px;
    margin: auto;
    
  }

  .container3 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  #glo-flip {
    float: left;
    max-width: 300px;
    margin-right: 20px;
  }

  .wrapper-img {
    width: 70%;
    margin: auto;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
    padding: 0 0 0 4%;
  }

  .col-lg-6 {
    width: 49%;
    padding: 4% 4% 0 0;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .wrapper-img-lg {
    width: 70%;
    margin: 0 auto;
  }

  /*caseStudyNav*/

  #caseStudyNav {
    position: fixed;
    top: 120px;
    display: inline-block;
  }

  #caseStudyNav li {
    display: block;
    padding: 1.5em 0 1.5em 0;
    transform: rotate(90deg);
  }

  #caseStudyNav a {
    text-decoration: none;
  }

  #discover,
  #validate,
  #design,
  #iterate,
  #reflect,
  #ideate {
    padding-top: 50px;
  }
}
